.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/header.svg');
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header .title {
    text-align: center;
    font-family: "Open Sans", "sans-serif";
    font-weight: 700;
}

.informations {
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 100%;
}

.informations p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.25rem;
}

.informations a {
    color: #fff;
}

.informations p::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.informations .person::before {
    background-image: url('../img/icons/person.svg');
}

.informations .location::before {
    background-image: url('../img/icons/location.svg');
}

.informations .whats::before {
    background-image: url('../img/icons/whats.svg');
}

.informations .email::before {
    background-image: url('../img/icons/email.svg');
}

@media only screen and (min-width: 768px) {

    .header {
        display: grid;
        grid-template-areas: 
            "photo title"
            "photo informations"
        ;
    }

    .header .photo {
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title {
        grid-area: title;
        text-align: start;
        max-width: 210px;
    }
}